{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="text-center">Your Income</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Source</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% if income %}
            {% for record in income %}
                <tr>
                    <td>{{ record[2] }}</td>
                    <td>{{ record[3] }}</td>
                    <td>{{ record[4] }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3" class="text-center">No income records found</td>
            </tr>
        {% endif %}
    </tbody>
</table>
            </div>
</div>
{% endblock %}
