{% extends "base.html" %}

{% block title %}View Expenses{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="text-center">Your Expenses</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Category</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense[2] }}</td>
            <td>{{ expense[3] }}</td>
            <td>{{ expense[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
            </div>
</div>
{% endblock %}
